{% extends "home.html" %}

{% block styles %}

{% endblock %}

{% block header %}
    {% include "components/header.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6 col-md-8 col-md-offset-2 ">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign up</h3>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        <p class="bs-component">
                            <table>
                                {{ form.as_p }}
                            </table>
                        </p>
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-primary btn-md" type="submit" value="login" />
                            </center>
                        </p>
                    </form>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}