{% extends "home.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="static/css/splash.css">
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
        <div id='form' class="col-sm-offset-2 col-sm-6 col-md-8 col-md-offset-2 ">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registrer</h3>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        <p class="bs-component">
                            <table>
                                {{ form.as_p }}
                            </table>
                        </p>
                        <p class="bs-component">
                            <center>
                                <button class="btn btn-primary btn-md" type="submit">Login</button>
                            </center>
                        </p>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}