{% extends "home.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}





{% block content %}
    <div class="col-md-offset-1 col-sm-12 col-md-10">
        <div class="row">
            <a class="btn" href="/">
                <button type="button" class="btn btn-default btn-lg" >Tilbake</button></a>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h2>{{ assignment.assignmentName }}</h2>
                <h5>
                    {{ assignment.description }}
                 </h5>
                 <p>{{ assignment.questions.first.subject }} - {{ assignment.questions.count }} spørsmål</p>
            </div>
            <div id="editBtn" class="col-md-5">
                <center>
                    <a class="btn" href="../{{ assignment.id }}/edit">
                    <button type="button" class="btn btn-info btn-lg" >Rediger</button></a>
                </center>
            </div>
        </div>

        <hr/>
        <form method="POST" onsubmit="return confirm('Er du sikker på at du vil sende inn svarene?');" action="{% url 'assignment' assignment.id %}">
            {% csrf_token %}
            {% for question in assignment.questions.all %}
                <h4>{{ question.questionText }} </h4>
                <hr/>
            {% endfor %}
        </form>
    </div>
{% endblock %}

