{% extends "home.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}





{% block content %}
    <div class="col-md-offset-1 col-sm-12 col-md-10">
        <div class="row">
            <a class="btn" href="/">
                <button type="button" class="btn btn-default btn-lg" >Tilbake</button></a>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h2>{{ assignment.assignmentName }}</h2>
                <h5>
                    <b>Beskrivelse: </b>{{ assignment.description }}
                 </h5>
                 <p>{{ assignment.questions.first.subject }} - {{ assignment.questions.count }} spørsmål</p>
            </div>
            <div id="editBtn" class="col-md-5">
                <center>
                    <a class="btn" href="../{{ assignment.id }}/edit">
                    <button type="button" class="btn btn-info btn-lg" >Rediger</button></a>
                </center>
            </div>
        </div>

        <hr/>
        {% for question in assignment.questions.all %}
            <h5>{{ question.questionText }} </h5>
            <ol>
            {% for answer in question.answers.all %}
                {% if answer.isCorrect is True %}
                    <li> {{ answer.answerText }} [Korrekt svar] </li>
                {% else %}
                    <li> {{ answer.answerText }} </li>
                {% endif %}
            {% endfor %}
            </ol>
            <hr/>
        {% endfor %}
        <div class="col-md-1">
            <div class="text-center">
                <a class="btn" href="../{{ assignment.id }}/edit">
                <button type="button" class="btn btn-info btn-lg" >Rediger</button></a>
            </div>
        </div>
    </div>
{% endblock %}

