{% extends "home.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}

{% block content %}

    <div class="col-md-offset-1 col-md-10">
        <a class="btn" href="../show/{{ assignment_id }}">
        <button type="button" class="btn btn-default btn-lg" >Tilbake</button></a>
        <div class="row">
            <div class="col-md-7">
                <h1>Rediger øving</h1>
            </div>
            <div id="delete" class="col-md-3">
                <form method="POST" onsubmit="return confirm('Er du sikker på at du vil slette øvingen?');"action="{% url 'delete-assignment' assignment_id %}">
                    {% csrf_token %}
                    <input class="btn btn-danger btn-lg" type="submit" value="Slett" />
                </form>
            </div>
        </div>
        <br/>
        <hr/>
        <form method="POST" action="{% url 'edit-assignment' assignment_id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <center>
                <button class="btn btn-primary btn-lg" type="submit">Endre</button>
            </center>
        </form>
    </div>
{% endblock %}

