html,
.headerContainer {
    font-size: 1em;
    line-height: 1.4;
    background-color: rgb(32,32,32);
}

.row img {
    max-height: 20px;

}
.brand {
    height: 15px;
}

.profileContainer {
    max-height: 20px;
}