

.navbar-header{
    padding-top: 10px;
}

.navbar-brand {
  padding: 10px;
}
.navbar-brand>img {
  max-height: 50%;
  padding: 15px;
  width: auto;
}

.headerBox .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.headerBox .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
