body {background-color:white;}

p {
    font-family: Helvetica;
}

h1 {
    font-size: 40px;
    font-family: Helvetica;
}

label {
    font-family: Helvetica;
}

li {
    font-family: Helvetica;
}

form {
    display: inline-block;
}