html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: left;
    background-color: rgb(32, 232, 233);
    padding-top: 100px;
}

@media all and (min-width: 480px) {
    body {
        text-align: justify;
    }
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

@media all and (min-width: 480px) {
    h1 {
        text-align: left;
    }
}

img {
    margin-bottom: 40px;
}

a {
    color: #333;
}

a:hover {
    color: rgb(205, 32, 39);
    text-decoration: none;
}

::selection {
    background-color: hotpink;
}

.nav li {
    margin-top: 10px;
    text-transform: uppercase;
    transition: margin 0.8s;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    min-height: 0;
    border-radius: 0;
    transition: min-height 0.4s;
}

.navbar-inverse {
    background-color: rgb(32,32,32);
}

.navbar-inverse .navbar-nav>li>a {
    width: auto;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin: 0 10px 0 10px;
}

.navbar-inverse .navbar-nav>li>a.active {
    border-bottom: 2px solid rgb(32, 32, 32);
}

.nav_img {
    width: 128px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .services i {
        display: none;
    }
}

.nav_img {
    content: url('../img/logo.png');
    width: 30px;
    transition: width 0.8s;
    transition: content 0.8s ease-in-out;
}

@media (min-width: 992px) {
    .large .nav li {
        margin-top: 55px;
        text-transform: uppercase;
    }

    .navbar.large .nav_img {
        content: url('../img/logo.png');
        width: 128px;
    }

    .large.navbar-default {
        min-height: 100px;
    }

}

