<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<div class="container-fluid section popdownsubsection white-background servicesMoreInfo" id="active_test">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#demo" aria-expanded="false" aria-controls="demo">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2>Navn på test</h2>
                        <h4>{% for subject in subjects %}
                            {{subject.subjectName}}
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <h2>Frist:</h2>
                        <h3>DD.MM mm.ss</h3>
                    </div>
                </div>
            </div>
            <div id="demo" class="panel-body collapse">

                <div class="col-sm-12 col-md-12">
                        <h5>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h5>
                    </div>
                <div class="text-center">
                    <a class="btn" href="assignments/questions">
                    <button type="button" class="btn btn-default btn-lg" >Ta test</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
