<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<div class="container-fluid section popdownsubsection white-background servicesMoreInfo" id="it_more" belongsTo="it">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-2">
            <h2>Navn på test</h2>
                Disse temaene skal testen handle om
            </div>
        </div>
            <div class="row">
                <div class="panel-body text-center">
                    <a class="btn" href="assignments    "></a>
                    <button type="button" class="btn btn-default btn-lg">Ta test</button>
                </div>
            </div>
    </div>
</div>