<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
  </div>
  <div class="navbar-collapse collapse">
    <div class="col-sm-offset-0 ">
        <ul class="nav navbar-brand">
            <a href="#"><img src="{{ STATIC_URL }}static/img/logo.png" class="nav_img" alt="Agnitio" height="100"></a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav navbar-nav navbar-right"><a href="profile"><img src="{{ STATIC_URL }}static/img/profile.png" alt="profile"  height="100"></a></li>
        </ul>
    </div>
  </div>
</nav>
