{% extends "home.html" %}

{% block styles %}
    {% load static %}
{% endblock %}


{% block header %}
    {% include "components/header.html" %}
{% endblock %}

{% block content %}
    <center>
        <a class="btn" href="assignments/new">
        <button type="button" class="btn btn-primary btn-lg" >Opprett øving</button></a>
        <a class="btn" href="assignments/questions">
        <button type="button" class="btn btn-default btn-lg" >Alle spørsmål</button></a>
    </center>
    {% for assignment in assignments %}
        {% include 'components/activeProfessor.html' with currentAssignment=assignment %}
    {% endfor %}
{% endblock %}



