{% extends "home.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}


{% load static %}
<link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css"/>

{% block content %}
    <div class="col-sm-offset-1 ">
        <h2>{{ assignment.assignmentName }}</h2>
        <p>{{ assignment.questions.first.subject }} - {{ assignment.questions.count }} spørsmål</p>
        <hr/>
        <form method="POST" onsubmit="return confirm('Er du sikker på at du vil sende inn svarene?');" action="{% url 'assignment' assignment.id %}">
            {% csrf_token %}
            {% for question in assignment.questions.all %}
                <h4>{{ question.questionText }}</h4>
                {% for answer in question.answers.all %}
                    <input type="radio" name="answer-{{ question.id }}" id="answer-{{ question.id }}-{{ forloop.counter }}" value="{{ answer.id }}" />
                    <label for="answer-{{ question.id }}-{{ forloop.counter }}">{{ answer.answerText }}</label><br />
                {% endfor %}
                <hr/>
            {% endfor %}
            <center>
            <button class="btn btn-primary btn-lg" type="submit">Svar</button>
            </center>
        </form>
    </div>
{% endblock %}
