{% extends "home.html" %}

{% block styles %}

{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}

{% block content %}
    <div class="col-sm-12 col-md-offset-1 col-md-10">
        <h1>Lag ny test</h1>
        <form method="POST" action="{% url 'new-private-assignment' %}">
            {% csrf_token %}
            {{ private_assignment_form.non_field_errors }}
            {{ private_assignment_form.as_p }}
            <center>
                <button class="btn btn-primary" type="submit">Submit</button>
            </center>
        </form>
    </div>
{% endblock %}