{% extends "home.html" %}

{% block styles %}

{% endblock %}

{% block header %}
    {% include 'frontpage/header.html' %}
{% endblock %}

{% block content %}
    <h1>Create a new assignment</h1>
    <form method="GET" action="{% url 'new-assignment' %}">
        <select name="subject" onchange="this.form.submit()">
            <option value="0">Choose subject</option>
            {% for subject in subjects %}
                <option {% if subject.id == subjectId %} selected {% endif %}
                        value="{{ subject.id }}">{{ subject.subjectName }}</option>
            {% endfor %}
        </select>
    </form>
    <hr/>
    {% if subjectId > 0 %}
        <form method="POST" action="{% url 'new-assignment' %}">
            {% csrf_token %}
            {{ assignment_form.non_field_errors }}
            {{ assignment_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
{% endblock %}