{% extends "home.html" %}

{% block styles %}

{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}

{% block content %}
    <div class="col-sm-offset-1 ">
        <h1>Edit question</h1>
        <form method="POST" onsubmit="return confirm('Er du sikker på at du vil slette spørsmålet?');" action="{% url 'delete-question' question_id %}">
            {% csrf_token %}
            <button class="btn btn-default" type="submit">Slett spørsmål</button>
        </form>
        <br/>
        <hr/>
        <form method="POST" action="{% url 'edit-question' question_id %}">
            {% csrf_token %}
            {{ question_form.as_p }}
            <hr/>
            {{ answer_formset.non_form_errors }}
            <table>
                {{ answer_formset }}
            </table>
            <center>
                <button class="btn btn-primary btn-lg" type="submit">Legg til</button>
            </center>
        </form>
    </div>
{% endblock %}

