{% extends "home.html" %}

{% block styles %}

{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}

{% block content %}
    <div class="col-sm-12 col-md-offset-1 col-md-10">
        <a href="../questions"><button class="btn btn-success btn-lg" type="back">Tilbake</button></a>
        <h1>Create a new question</h1>
        <hr/>
        <form method="POST" action="{% url 'new-question' %}">
            {% csrf_token %}
            {{ question_form.as_p }}
            <hr/>
            {{ answer_formset.non_form_errors }}
            <table>
                {{ answer_formset }}
            </table>
            <center>
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </center>
        </form>
    </div>
{% endblock %}