<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<div class="container-fluid section popdownsubsection white-background servicesMoreInfo" id="active_test">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#{{ currentAssignment.id }}demo" aria-expanded="false" aria-controls="demo">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2>{{ currentAssignment.assignmentName }}</h2>
                        <h3>Tema:</h3>
                        <h5>{{ currentAssignment.questions.first.subject }}</h5>
                    </div>
                    <div class="col-md-6">
                        <h2>Frist:</h2>

                        <h5>{{ currentAssignment.deadline }}</h5>
                    </div>
                </div>
            </div>
            <div id="{{ currentAssignment.id }}demo" class="panel-body collapse">
                <div class="col-sm-12 col-md-12">
                    <h5>{{ currentAssignment.description }}</h5>
                </div>
                <div class="text-center">
                    <a class="btn" href="assignments/{{ currentAssignment.id }}">
                    <button type="button" class="btn btn-default btn-lg" >Ta test</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
