<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
{% load static %}


<div id="headerBox" class="container-fluid">
    <div class="row">
        <div id="logoContainer" class="col-xs-offset-0 col-xs-9 col-sm-offset-1 col-sm-7 col-md-offset-1 col-md-5">
            <a href="{% url 'index' %}"><img id="logo" src="{% static "img/logo.png" %}" alt="home"></a>
        </div>
        <div id="profileContainer" class="col-xs-3 col-sm-3 col-md-5">
            <a href="{% url 'index' %}"><img src="{% static "img/profile.png" %}" alt="profile" id="profile"></a>
        </div>
    </div>
</div>
