{% extends "home.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="static/css/splash.css">
{% endblock %}

{% block header %}
{% load static %}
<div id="headerBox" class="container-fluid">
    <div class="row">
        <div id="logoContainer" class="col-xs-offset-0 col-xs-9 col-sm-offset-1 col-sm-7 col-md-offset-1 col-md-5">
            <a href="{% url 'index' %}"><img id="logo" src="{% static "img/logo.png" %}" alt="home"></a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
        <div id='loginForm' class="col-sm-offset-2 col-sm-6 col-md-4 col-md-offset-4 ">
            {% if form.errors %}
                <p>Ditt burkernavn og passord henger ikke sammen. Prøv igjen.</p>
            {% endif %}
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">Venligst logg inn</h3>
                    </center>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        <p class="bs-component">
                            <table>
                                <tr>
                                    <td>{{ form.username.label_tag }}</td>
                                    <td>{{ form.username }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.password.label_tag }}</td>
                                    <td>{{ form.password }}</td>
                                </tr>
                            </table>
                        </p>
                        <p class="bs-component">
                        <center>
                            <button class="btn btn-primary btn-md" type="submit" value="login">Logg inn</button>
                        </center>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>

                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <a class="btn" href="/signup">
                        <button type="button" class="btn btn-default btn-sm" >Registrer ny bruker</button></a>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}
