{% extends "home.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="static/css/splash.css">
{% endblock %}

{% block header %}
    {% include "components/header.html" %}
{% endblock %}

{% block content %}
        <div id='loginForm' class="col-sm-offset-2 col-sm-6 col-md-4 col-md-offset-4 ">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        <p class="bs-component">
                            <table>
                                <tr>
                                    <td>{{ form.username.label_tag }}</td>
                                    <td>{{ form.username }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.password.label_tag }}</td>
                                    <td>{{ form.password }}</td>
                                </tr>
                            </table>
                        </p>
                        <p class="bs-component">
                        <center>
                        <input class="btn btn-primary btn-md" type="submit" value="login" />
                        </center>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>

                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <a class="btn" href="/signup">
                        <button type="button" class="btn btn-default btn-sm" >Registrer ny bruker</button></a>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}
